@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 1700px;
  margin: 0 auto;
  background-color: #eeeeee;
}

input[type='text'],
input[type='email'],
input[type='number'],
input[type='password'],
input[type='tel'],
textarea {
  background-color: #f0eeed;
  @apply w-full border my-2 py-2 px-3 rounded-2xl border-slate-500 mt-4;
}

textarea {
  height: 150px;
}

button.primary {
  border: 1px solid #97b8ca;
  @apply bg-gray-300;
  @apply bg-primary p-2 text-white rounded-2xl my-2 w-full;
}
button.primary:hover {
  @apply bg-primary_hover;
}

input[type='checkbox'] {
  background-color: #f0eeed;
  margin: 0;
  width: 1.2em;
  height: 1.2em;
  border-radius: 0.15em;
}

input[type='date'] {
  background-color: #f0eeed;
  @apply w-full border my-2 py-2 px-3 rounded-2xl border-slate-500;
  cursor: pointer;
}

::-webkit-calendar-picker-indicator {
  @apply bg-primary rounded-full;
  padding: 5px;
  cursor: pointer;
}
