@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #eeeeee;
}

input[type='text'],
input[type='email'],
input[type='password'],
textarea {
  @apply w-full border my-2 py-2 px-3 rounded-2xl;
}

button {
  border: 1px solid #bdcdd6;
  @apply bg-gray-300;
}

button.primary {
  @apply bg-primary p-2 w-full text-white rounded-2xl my-2;
}
button.primary:hover {
  @apply bg-primary_hover;
}

input {
  background-color: #f0eeed;
  border: 3px solid #555;
}
